<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" type="text/css" href="../css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../css/dashbaord.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <header>
        <nav>
            <div class="nav-wrapper blue-grey lighten-1">
                <a href="/" class="brand-logo" style="padding-left: 30px;">Dashboard</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Home</a>
                    </li>
                    <li><a href="badges.html">CCI Levels</a>
                    </li>
                    <li><a href="/addon">Add Ons</a>
                    </li>
                    <li><a href="mobile.html">Other</a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="sass.html">Home</a>
                    </li>
                    <li><a href="badges.html">CCI Levels</a>
                    </li>
                    <li><a href="collapsible.html">Add Ons</a>
                    </li>
                    <li><a href="mobile.html">Other</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class='container padding-top'>
        <div class='row'>
            <nav>
                <div class="nav-wrapper blue-grey lighten-5">
                    <div class="col s12">
                        <a href="/" class="breadcrumb black-text">Home</a>
                        <a href="/application" class="breadcrumb black-text">Applications</a>
                        <a href=`/application/{{application}}` class="breadcrumb black-text">{{application}}</a>

                    </div>
                </div>
        </div>
    </div>


<h5> Application Name: {{application}} </h5>

<h5> Application CCI Level: </h5>

<h5> Application Add Ons: </h5>

<h5> Application Pipeline Status: </h5>

<h5> Application Created: {{createdDate}}</h5>

<h5> Application Last Updated {{lastUpdated}}</h5>

<h5> Person who last updated: {{lastPersonUpdated}}</h5>

<h5> URL: {{herokuURL}}</h5>

<h5> Git URL: {{gitURL}}</h5>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
<script src="../node/jquery/dist/jquery.min.js"></script>
<script src="../js/materialize.min.js"></script>
<script src="../js/herokuAddOn.js"></script>

</html>
